<div clas="container">
  <div clas="notFoundContainer">
    <div clas="container" style="text-align: center">
      <div clas="notFoundImage ">
        <img
          src="assets/images/AccessDenied.jpg"
          class="img-fluid rounded access-image"
          alt=""
        />
      </div>
      <div clas="notFoundTxt">
        <h4 class="text-danger">Access Denied For You</h4>
      </div>
      <div clas="notFoundtn">
        <button type="button" class="btn btn-outline-danger" (click)="GoHome()">
          Home Page
        </button>
      </div>
    </div>
  </div>
</div>
