<div clas="container">
  <div clas="notFoundContainer text-center mt-4">
    <div clas="container" style="text-align: center;">
      <div clas="notFoundImage" >
        <img src="assets/images/not.PNG"  class="img-fluid rounded image-not" alt="" />
      </div>
      <div clas="notFoundTxt">
        <h4 class="text-danger">Content Not Found</h4>
      </div>
      <div clas="notFoundtn">
        <button type="button" class="btn btn-outline-danger" (click)="GoHome()">
          Home Page
        </button>
      </div>
    </div>
  </div>
</div>
