<div class="container mt4 mb-4">
  <div class="login-container">


    <h5 style="text-align: center">Register Now</h5>

    <hr class="mb-4" />

    <form [formGroup]="userForm" (ngSubmit)="ResetPassword()">

      <div class="formGroup">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
          placeholder="Enter Your password" [class.is-invalid]="userForm.controls['password'].invalid"
          [class.is-valid]="userForm.controls['password'].valid" minlength="6" />
        <div class="text-danger" [hidden]="
            userForm.controls['password'].untouched ||
            userForm.controls['password'].dirty
          " class="alert alert-danger">
          {{ messageValidate.password.required }}
        </div>
        <div class="text-danger" [hidden]="isPasswordValid()" class="alert alert-danger">
          {{ messageValidate.password.notMatch }}
        </div>
      </div>

      <div class="formGroup">
        <label for="passwordConfirm" class="form-label">Confirm Password</label>
        <input type="Password" formControlName="passwordConfirm" class="form-control" id="exampleInputPassword2"
          placeholder="Enter Your Password Confirm" [class.is-invalid]="userForm.controls['passwordConfirm'].invalid"
          [class.is-valid]="userForm.controls['passwordConfirm'].valid" minlength="6" />
        <div class="text-danger" [hidden]="
            userForm.controls['passwordConfirm'].untouched ||
            userForm.controls['passwordConfirm'].dirty
          " class="alert alert-danger">
          {{ messageValidate.passwordConfirm.required }}
        </div>
        <div class="text-danger" [hidden]="!isPasswordMatch()" class="alert alert-danger">
          {{ messageValidate.passwordConfirm.isMatch }}
        </div>
      </div>

      <button [disabled]="
          userForm.invalid ||
          isPasswordMatch()
        " type="submit" class="btn btn-primary">
        Reset Password
      </button>

    </form>
  </div>
</div>
